@import "./reset";
@import "./typography";
@import "./variables";
@import "./mixin";
@import "./base";
img {
  transition: all .3s;
  &:hover {
    filter: opacity(0.8);
    transform: translateY(-5px);
  }
}
/* Profile */
.profile {
  height: 960px;
  @include bgImg-cover("../img/banner.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  &__list {
    display: flex;
    justify-content: space-between;
  }
}
/* About */
.about {
  &__wrap {
    width: 380px;
  }
  &__item {
    @extend %content;
  }
  &__school {
    margin: 0 -1.875rem;
  }
}
.about__position {
  @extend %content;
  span {
    position: relative;
    &::after {
      content: "";
      width: 1.375rem;
      height: 1.375rem;
      background-color: $primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2rem;
    }
  }
}

/* Brand */
.brand {
  padding-bottom: 10rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
/* Work */
.work {
  padding-top: 3.5rem;
  padding-bottom: 9rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.contact__link {
  transition: color 0.3s;
  &:hover {
    color: darken($white, 40%);
  }
}
