@import "./reset";
@import "./typography";
@import "./variables";
@import "./mixin";
@import "./base";

/* Profile */
.profile{
  height: 960px;
  @include bgImg-cover('../img/banner.png');
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__list{
  display: flex;
  justify-content: space-between;
}
/* About */
.about__wrap{
  width: 380px;
}
.about__item{
  @extend %content;
}
.about__school{
  margin: 0 -0.875rem;
}
.about__position{
  @extend %content;
  span {
    position: relative;
    &::after {
      content: '';
      width: 22px;
      height: 22px;
      background-color: $primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2rem;
    }
  }
}
/* Brand */
.brand__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* Work */
.work{
  padding: 3.5rem 0;
}
.work__list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}