@import "_reset";

.container {
  max-width: 640px;
  margin: 0 auto;
}

main {
  display: flex;
}

.news {
  margin-bottom: 24px;
}
.news-item {
  display: flex;

  & + & {
    margin-top: 24px;
  }
}

.news-body {
  padding: 0 20px;
  h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  p {
    line-height: 1.5;
  }
}
footer{
  padding: 48px 0;
  p{
    line-height: 1.5;
    text-align: center;
  }
}