@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');
@import './asset/scss/_reset';
@import './asset/scss/font';
@import './asset/scss/utilities';
/* 整體 */
body{
  font-family: 'Noto Sans TC', 'PingFang', sans-serif;
} 
.name-img{
  padding: 3rem 0;
  max-width: 324px;
}
.profile{
  margin-bottom: 4.5rem;
}
.education{
  margin-bottom: 4.5rem;
}

.skill{
  margin-bottom: 4.5rem;
  padding: 2.25rem 4rem;
  .skill-wrap{
    display: flex;
    justify-content: center;
    transform: translateX(-.5rem);
    padding-top: 1rem;
  }
  .skill-lists {
    padding-left: 1rem;
  }
}

.work{
  margin-bottom: 4.5rem;
  .work-wrap{
    display: flex;
    justify-content: center;
    transform: translateX(-.5rem);
    padding-top: 1rem;
    margin-left: 2rem;
    max-width: calc(1200px / 12 * 7);
  }
  .work-lists {
    padding-left: 1rem;
  }
  .work-item {
    + .work-item {
      margin-top: 1.5em;
    }
  }
  .work-img{
    width: 90px;
  }
}
.contact{
  padding: 1.5rem 0;
  .contact-item{
    display: block;
    margin-bottom: 1rem;
  }
}
.social{
  display: flex;
  justify-content: center;
  margin-bottom: 0.75em;
  .social-item {
    + .social-item {
      margin-left: 1rem;
    }
  }
}